.venue-image {
    width: 300px;
    height: 200px;
}
.highlight-snippet {
  color: var(--p-text-muted-color);
}

.highlight-snippet mark {
  background: var(--p-primary-color);
  color: var(--p-primary-contrast-color);
  padding: 0 0.15rem;
  border-radius: 0.2rem;
}
